.number-container {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px;
  grid-gap: 7px;
}
.number{
  background: #8b61ff;
  color: white;
  border-radius: 60%;
}
